/* Rockets CSS */

/* font-family: 'Mukta', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
.card {
  width: 100%;
  margin: 0;
}

.rocket-container {
  width: 95%;
  padding: 10px 3px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  justify-content: flex-start;
  gap: 20px;
}

.image-div {
  max-width: 350px;
  padding: 2px;
  border-radius: 5px;
}

.image-div img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 500ms linear;
}

.image-div img:hover {
  opacity: 1;
  transform: scale(1.01);
}

.btn {
  background-color: #3434dd;
  color: #fff;
  margin: 10px 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  opacity: 1;
}

.desc-div {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

.name-div {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin: 5px 0;
}

@media (max-width: 962px) {
  .image-div {
    max-width: 350px;
  }

  .rocket-container {
    grid-template-columns: 0.6fr 1.4fr;
  }
}

@media (max-width: 768px) {
  .image-div {
    max-width: 350px;
  }

  .rocket-container {
    grid-template-columns: 0.8fr 1.2fr;
        
  }
}

@media (max-width: 601px) {
  .image-div {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rocket-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 483px) {
  .image-div {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rocket-container {
    grid-template-columns: 1fr;
  }
}
