.contain {
  width: 100%;
  margin: 0 auto;
}

.contain table {
  width: 100%;
  border-collapse: collapse;
}

.contain td,
th {
  padding: 20px;
  text-align: left;
}

tr {
  border-bottom-width: 1px;
}

.bg-color {
  background-color: #f9fafb;
  border-bottom: none;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .contain table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .contain tr {
    border: 1px solid #ccc;
  }

  .contain thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .contain td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .contain td::before {
    /* Now like a table header */
    position: absolute;

    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .contain td:nth-of-type(1)::before {
    content: 'Mission Name';
    padding: 15px;
  }

  .contain td:nth-of-type(2)::before {
    content: 'Description';
    padding: 15px;
  }

  .contain td:nth-of-type(3)::before {
    content: 'Status';
    padding: 15px;
  }

  .contain td:nth-of-type(4)::before {
    content: 'Actions';
    padding: 15px;
  }

  .contain button {
    width: 100%;
  }
}
